<h1>This is _Scope show page article</h1>

<h1><%= @article.title %></h1>

<div>
<%= @article.body %>
</div>
<br>
<%= link_to 'Edit Article', edit_article_path(@article) %>
<br>
<%= link_to 'Delete Article', article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>